<% include ../partials/header %>

<% if(location){ %>
  Hello you there from <%= location %>
<% } %>

<% if(error){ %>
  <%= error %>
<% } %>

<form action="<%= req.baseUrl + "/" %>" method="post">
  <input type="text" name="location" value="<%= location || "" %>">
  <button>Go!</button>
</form>

<% include ../partials/footer %>