<!doctype html>
<html>
  <head>
    <title>My page!</title>
  </head>
  <body>

  <% if(!error && name){ %>
    Hello, <%= name %>
  <% } %>

  <% if(error){ %>
    <%= error %>
  <% } %>

  <form action="/" method="post">
    <input type="text" name="name" value="<%= name %>">
    <button>Go!</button>
  </form>

  </body>
</html>