<% include ../partials/header %>

<form action="<%= req.baseUrl + "/" %>" method="post">
  <div>
    <label for="email">Email:</label>
    <input type="text" id="email" name="email" value="">
  </div>
  <div>
    <label for="password">Password:</label>
    <input type="password" id="password" name="password" value="">
  </div>

  <button>Sign up!</button>
</form>

<% include ../partials/footer %>